@charset "UTF-8";

 
.icon-heart:before { content: '\e804'; } /* '' */
.icon-cogs:before { content: '\e107'; } /* '' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-cloud:before { content: '\e803'; } /* '' */
.icon-rocket:before { content: '\e802'; } /* '' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-alert:before { content: '💥'; } /* '\1f4a5' */
.icon-trash:before { content: '\e806'; } /* '' */
.icon-feather-1:before { content: '\e801'; } /* '' */
.icon-commerical-building:before { content: '\e811'; } /* '' */
.icon-edit-alt:before { content: '\e0ed'; } /* '' */
.icon-feather:before { content: '\e800'; } /* '' */