@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "variables";
@import "mixins";
@import "pygments";

body, html {
  height: 100%;
  font-family: 'Helvetica', 'Arial', Sans-serif;
}

body {
  min-height: 100%;
}

a {
  color: @red;

  &:hover {
    color: @dark-red;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding: 5px 0;
}

.navbar-logo {
  width: 240px;
}

.navbar-inverse {
  background: @white;
  border: none;
  .drop-shadow(0, 1px, 2px, 0.2);
}

.navbar-inverse .navbar-toggle {
  background: #333;
  margin-top: 20px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: @red;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: @dark-grey;
}

.navbar-nav > li > a {
  margin: 15px 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: @medium-red;
  border-color: @dark-red;
}

.btn-primary {
  background-color: @red;
  border-color: @dark-red;
}

.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover,
.nav-stacked > li.active > a:focus {
  background-color: @red;
  color: @white;
}

.nav-stacked > li > a:hover,
.nav-stacked > li > a:focus {
  background-color: @super-light-grey;
}

.nav-pills > li {
  margin: 0 10px;
}

.nav-pills > li > a {
  .border-radius(0);
  color: @grey;
  background-color: @lighter-grey;
  margin: 0 10px;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: @very-light-grey;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: @white;
  background-color: @red;
}

.nav-pills.example > li > a {
  .border-radius(0);
  /*color: @grey;*/
  background-color: @dark-grey;
}

.nav-pills.example > li > a:hover,
.nav-pills.example > li > a:focus {
  background-color: @light-grey;
}

.nav-pills.example > li.active > a,
.nav-pills.example > li.active > a:hover,
.nav-pills.example > li.active > a:focus {
  color: @white;
  background-color: @red;
}

.nav-pills.options {
  margin: 20px;

  li a {
    margin: 0;
  }
}

section {
  padding: 80px 0;
  
  h1 {
    margin-top: 0;
  }
}

section.hero {
  text-align: center;
  margin-top: 80px;
  padding: 60px 0;

  img.theme {
    margin: 0px auto 30px auto;
  }

  .badges p {
    margin-bottom: 20px;
  }

  .tagline {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 48px;;
  }

  .inline-code {
    border: 1px solid @very-light-grey;
    background: @super-light-grey;
    font-style: italic;
    padding: 5px 0;
    color: @red;
    margin: 10px 0 20px 0;
  }

  @media (max-width: 979px) {
    img.theme {
      margin: 20px auto 30px auto;
    }
  }

  @media (max-width: 479px) {
    .tagline {
      font-size: 40px;
    }
  }
}

section.rapid-start {

  h1 {
    color: @red;
  }

  p {
    font-weight: 200;
    letter-spacing: 1px;
    color: @dark-grey;
  }

  hr {
    margin: 60px;
  }

  .screencast {
    width: 100%;
  }

  @media (max-width: 979px) {
    .screencast {
      margin-bottom: 20px;
    }
  }
}

section.features {
  background: @lighter-grey;
  text-align: center;
  color: @dark-grey;

  h2 {
    color: @red;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: 100px;
    color: @super-light-grey;
  }

  .description {
    text-align: justify;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
  }

  @media (max-width: 979px) {
    .description {
      margin: 20px 0;
    }
  }
}

section.example {
  background: @red;

  .file-data {
    height: 400px;
  }

  .nav-pills.options {
    li.active a {
      color: @red;
      background-color: @white;
    }
  }

  a {
    color: @super-light-grey;

    &:hover {
     color: @white;
    }
  }
}

footer {
  color: @light-grey;
  background: @very-dark-grey;
  padding: 20px;

  .icon-heart {
    font-size: 24px;
    color: @red;
  }

  @media (max-width: 979px) {
    .back {
      float: none!important;
    }

    p {
      margin: 10px 0;
    }
  }
}

#gist6644432 {
  margin-top: 50px;
}

@media (max-width: 979px) {
  .back {
    float: none!important;
  }
}

@media (max-width: 1200px) {
  .nav > li > a {
    padding: 10px 10px;
  }

  .back {
    float: none!important;
  }
}
