@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "variables";

body, html {
  height: 100%;
}

body {
  min-height: 100%;
}

#content, #menu {
  overflow: scroll;
  height: 100%;
}

#menu {
  color: @gray-lighter;
  background-color: @gray-dark;
}

#content {
  box-shadow: -1px 1px 3px 1px @gray-light;
}