{
  "verbose": false,
  "tempDirectory": "./coverage/.tmp",
  "semistandard": {
    "env": [
      "mocha"
    ]
  },
  "exclude": [
    "**/test/*",
    "**/dist/*",
    "**/*.dist.js",
    "**/templates/*"
  ],
  "print": "detail",
  "reporter": [
    "html",
    "text",
    "text-summary",
    "lcov"
  ],
  "watermarks": {
    "statements": [
      70,
      90
    ],
    "lines": [
      70,
      90
    ],
    "functions": [
      70,
      90
    ],
    "branches": [
      70,
      90
    ]
  }
}
