<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <title>Feathers - Let your applications fly!</title>
    <link href="css/feathers.min.css" rel="stylesheet">
    <link href="css/fontello.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="100">
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-feather"></span>
            </button>
            <a class="navbar-brand" href="#">
              <i class="icon-feather"></i> Feathers
            </a>
          </div>
          <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
              <li><a href="#get-started">Get Started</a></li>
              <li><a href="#example">Example</a></li>
              <li><a href="#documentation">Documentation</a></li>
              <li><a href="https://github.com/feathersjs/feathers" target="_blank"><strong>Github</strong></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <section id="hero" class="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="row text-center">
                <h1 class="tagline">Let your applications fly!</h1>
                <h4>Real-time without magic</h4>
                <div class="col-md-6 col-md-offset-3">
                  <p class="inline-code">npm install feathers</p>
                </div>
                <div class="col-md-6 col-md-offset-3">
                  <a href="#example" class="btn btn-primary btn-lg btn-block">Take Off</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <ul class="list-unstyled">
                  <li class="first"><i class="icon-feather"></i> Use the power of Express and ...</li>
                  <li><i class="icon-plus"></i> Data driven <a href="">services</a></li>
                  <li><i class="icon-plus"></i> Out of the box  <a href="http://todos.feathersjs.com/todos" target="_blank">RESTful</a> APIs </li>
                  <li><i class="icon-plus"></i> <a href="#example">Real-time</a> events via SocketIO</li>
                </ul>
              </div>
              <div class="row badges text-center">
                <p>
                  <a href="https://npmjs.org/package/feathers" title="Package status" target="_blank"><img src="https://badge.fury.io/js/feathers.png"/></a>
                  <a href="https://david-dm.org/feathersjs/feathers" target="_blank" title="Dependency status"><img src="https://david-dm.org/feathersjs/feathers.png"/></a>
                  <a href="https://travis-ci.org/feathersjs/feathers" target="_blank"><img src="https://travis-ci.org/feathersjs/feathers.png?branch=master" alt="Build status" /></a>
                </p>
              </div>
              <div class="row github-links text-center">
                <p>
                  <iframe src="http://ghbtns.com/github-btn.html?user=feathersjs&repo=feathers&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                  <iframe src="http://ghbtns.com/github-btn.html?user=feathersjs&repo=feathers&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      {{! <section id="features" class="features">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <i class="icon-cloud"></i>
              <h2>Lightweight</h2>
              <p class="feature description">Feathers is built right on top of <a href="http://expressjs.com" title="Express" target="_blank">Express</a>. No "Framework X" but for Node. Literally replace
              <strong>Express</strong> with <strong>Feathers</strong> and you are good to go. You can even use the same middleware!</p>
            </div>
            <div class="col-md-4">
              <i class="icon-rocket"></i>
              <h2>Realtime</h2>
              <p class="feature description">No real-time abstraction magic. Vanilla SocketIO and namespaced events are all you need to make your web application come to life. And Feathers already provides the ones you need!</p>
            </div>
            <div class="col-md-4">
              <i class="icon-cogs"></i>
              <h2>Flexible</h2>
              <p class="feature description">Feathers isn't in the way. You can always directly fall back to Express and <a href="http://socket.io/" title="Socket.IO" targe="_blank">SocketIO</a>. Use your existing middleware, add new services as you go and migrating will be a snap.</p>
            </div>
          </div>
        </div>
      </section> }}

      <section id="get-started" class="rapid-start">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="page-header">Rapid start</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>Feathers makes it easy to get REST and real-time APIs running by using <strong>Services</strong>. A service is a JavaScript object that can be used just like an Express middleware and provides a certain set of methods. The <a href="https://gist.github.com/daffl/6644432" target="_blank">rapid start example</a> creates a simple Todo REST and SocketIO service that can get a list of todos and creates new ones.</p>

              <ul class="nav nav-pills options" id="rapidstart">
                <li class="active"><a href="#">REST</a></li>
                <li><a href="#">SocketIO</a></li>
              </ul>
              <script src="https://gist.github.com/daffl/6644854.js"></script>
            </div>
            <div class="col-md-6">
              <script src="https://gist.github.com/daffl/6644432.js"></script>
            </div>
          </div>
      </section>

      <section id="example" class="example">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Real-time Todos</h1>
              <p>We are huge fans of <a href="http://todomvc.com/" title="TODO MVC" target="_blank">TodoMVC</a> so we've created a real-time todo app that you can see right here (and the REST endpoint <a href="http://todos.feathersjs.com/todos" title="Todo REST service" target="_blank">here</a>). It's definitely fairly trivial, but it demonstrates most of the major parts of Feathers.</p>
              
              <div id="todo-example">
                <ul class="todos list-unstyled"></ul>
                <form role="form" class="create-todo">
                  <div class="form-group">
                    <input type="text" class="form-control" name="description" placeholder="Add a new Todo">
                  </div>
                  <button type="submit" class="btn btn-info col-md-12">Add Todo</button>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <ul class="nav nav-pills options example" id="realtime-todos">
                  <li><a href="#" title="TODO Client">Client</a></li>
                  <li><a href="#" title="TODO Feathers Server">Server</a></li>
                  <li><a href="#" title="TODO Service">Service</a></li>
                </ul>
                <script src="https://gist.github.com/daffl/6665992.js"></script>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="documentation" class="documentation">
        <div class="container">
          <div class="row">
            <h1>Documentation</h1>
            <hr>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div id="toc"></div>
            </div>
            <div class="col-md-9 documentation-content">
              {{{.}}}
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <div class="row">
        <div class="col-md-4">
          <p>© 2013 Feathers.</p>
        </div>
        <div class="col-md-4">
          <p> Another project made with <i class="icon-heart"></i> by <a href="http://twitter/daffl" title="David Luecke" target="_blank">@daffl</a> and <a href="http://twitter/ekryski" title="Eric Kryski" target="_blank">@ekryski</a>.</p>
        </div>
        <div class="col-md-4">
          <p class="back pull-right"><a href="#hero">Back to top</a></p>
        </div>
      </div>
    </footer>

    <script src="http://todos.feathersjs.com/socket.io/socket.io.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/feathers.js"></script>
    <script src="js/todos.js"></script>
  </body>
</html>