<footer class="footer">
  <div class="container">
    <div class="row center-text links">
      <a href="https://github.com/feathersjs" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a href="https://gitter.im/feathersjs/feathers" target="_blank">
        <i class="fa fa-comments"></i>
      </a>
      <a href="https://feathersjs.slack.com/" target="_blank">
        <i class="fa fa-slack"></i>
      </a>
      <a href="https://medium.com/all-about-feathersjs" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
      <a href="http://stackoverflow.com/questions/tagged/feathersjs" target="_blank">
        <i class="fa fa-stack-overflow"></i>
      </a>
    </div>
    <div class="row center-text">
      <p>&copy; 2015 <a class="primary normal" href="https://github.com/feathersjs/feathers/graphs/contributors" title="Feathers contributors" target="_blank">Feathers contributors</a>
      </p>
    </div>
  </div>
</footer>
