<footer class="footer">
  <div class="container">
    <div class="row center-text links">
      <a href="https://twitter.com/feathersjs" target="_blank" title="Feather's Twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://github.com/feathersjs" target="_blank" title="Feather's Github">
        <i class="fa fa-github"></i>
      </a>
      <a href="http://slack.feathersjs.com/" target="_blank" title="Feather's Slack">
        <i class="fa fa-slack"></i>
      </a>
      <a href="https://blog.feathersjs.com/" target="_blank" title="Blog">
        <i class="fa fa-medium"></i>
      </a>
      <a href="http://stackoverflow.com/questions/tagged/feathersjs" target="_blank" title="Stackoverflow tagged Feathers">
        <i class="fa fa-stack-overflow"></i>
      </a>
    </div>
    <div class="row center-text">
      <p>&copy; 2015 <a class="primary normal" href="https://github.com/feathersjs/feathers/graphs/contributors" title="Feathers contributors" target="_blank">Feathers contributors</a>
      </p>
    </div>
  </div>
</footer>
