<nav>
  <div class="navbar container">
    <ul class="inline-list thin">
      <li>
        <a class="" href="https://github.com/feathersjs/feathers" target="_blank" title="Github">Github</a>
      </li>
      <li>
        <a class="" href="https://trello.com/b/ZYZVlAqe/feathers-roadmap" target="_blank" title="Roadmap">Roadmap</a>
      </li>
      <li>
        <a class="" href="https://blog.feathersjs.com/" target="_blank" title="Blog">Blog</a>
      </li>
      <li>
        <a class="" href="http://docs.feathersjs.com" target="_blank" title="Documentation">Docs</a>
      </li>
      <li>
        <a class="" href="http://docs.feathersjs.com/help/readme.html" target="_blank" title="Documentation">Support</a>
      </li>
    </ul>
  </div>
</nav>
