<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Feathers - Real-time microservice framework built on Express">
    <meta name="author" content="David Luecke">
    <meta name="author" content="Eric Kryski">
    <link rel="shortcut icon" href="/images/favicon.png">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href="{{ '/css/feathers.min.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body data-spy="scroll" data-offset="100">
    <nav>
      <div class="navbar container">
        <ul class="inline-list thin">
          {% for weight in (1..5) %}
            {% for p in site.pages %}
              {% if p.weight == weight %}
                <li>
                  {% if p.title == 'Home' %}
                    <a class="logo" href="{{ '/' | prepend: site.baseurl }}">
                      <img src="/images/logo.png" alt="Feathers Logo">
                    </a>       
                  {% else %}
                    <a class="{% if p.url == page.url %}normal{% endif %}" href="{{ p.url | prepend: site.baseurl}}#{{p.anchor}}">
                      {{ p.title }}
                    </a>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </nav>

    <div class="content">{{content}}</div>

    <footer>
      <div class="container">
        <div class="row center-text">
          <p>&copy; 2015 Feathers. Another project made with <i class="fa fa-heart"></i> + <i class="fa fa-beer"></i> by
            <a class="primary normal" href="http://twitter.com/daffl" title="David Luecke" target="_blank">@daffl</a> and
            <a class="primary normal" href="http://twitter.com/ekryski" title="Eric Kryski" target="_blank">@ekryski</a>.
          </p>
        </div>
      </div>
    </footer>

    <script src="http://todos.feathersjs.com/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ '/js/todos.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/feathers.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
