<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="David Luecke">
    <meta name="author" content="Eric Kryski">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}">
    <meta itemprop="description" content="{{ page.description }}">
    <meta itemprop="image" content="{{ '/images/google-plus.png' | prepend: site.url }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ site.twitter.author }}">
    <meta name="twitter:title" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:creator" content="{{ site.twitter.author }}">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="{{ '/images/twitter-card.png' | prepend: site.url }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ '/images/google-plus.png' | prepend: site.url }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:site_name" content="Feathers" />
    <meta property="article:published_time" content="2015-07-08T11:08:00+01:00" />
    <meta property="article:modified_time" content="2015-07-08T11:08:47+01:00" />
    <meta property="article:section" content="Technology" />
    <meta property="article:tag" content="NodeJS" />
    <!-- <meta property="fb:admins" content="Facebook numberic ID" /> -->

    <!-- Resources -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href="{{ '/css/feathers.min.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body data-spy="scroll" data-offset="100">
    {% include navbar.html %}

    <div class="content">{{content}}</div>

    {% include footer.html %}
    
    {% include google_analytics.html %}

    <script src="http://todos.feathersjs.com/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ '/js/todos.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/feathers.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
