---
layout: default
---

<section id="hero">
  <div class="container center-text">
    <div class="row clear">
      <div class="col col-8 push-2 mobile-full">
        <h1 class="logo heavy">Feathers</h1>
        <h3 class="thin">The micro-service framework you've been waiting for.</h3>
      </div>
    </div>
    <div class="row badges">
      <p>
        <a href="https://npmjs.org/package/feathers" title="Package status" target="_blank"><img src="https://badge.fury.io/js/feathers.png"/></a>
        <a href="https://david-dm.org/feathersjs/feathers" target="_blank" title="Dependency status"><img src="https://david-dm.org/feathersjs/feathers.png"/></a>
        <a href="https://travis-ci.org/feathersjs/feathers" target="_blank"><img src="https://travis-ci.org/feathersjs/feathers.png?branch=master" alt="Build status" /></a>
      </p>
    </div>
    <div class="row github-links">
      <p>
        <iframe src="http://ghbtns.com/github-btn.html?user=feathersjs&repo=feathers&type=watch&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=feathersjs&repo=feathers&type=fork&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      </p>
    </div>
    <div class="row clear">
      <div class="col col-4 push-4 mobile-full">
        <a href="#" class="button primary-button block normal">Get Started</a>
      </div>
    </div>
  </div>
</section>

<hr>

<section id="ship">
  <div class="container">
    <div class="row">
      <h1 class="center-text">Ship Better Code, Faster Than Ever</h1>
    </div>
    <div class="row clear">
      <div class="col col-6">
        <h3>Feathers is built for developers that need to ship maintainable code, <span class="normal">fast</span>.</h3>
        <p>
          With our light-weight code base and rich plug-in ecosystem you can get prototypes out in a matter of minutes and production ready in days. Seriously.
        </p>
        <p>
          How is that even possible? We believe that less is more. So we built a razor thin wrapper (a few hundred lines of code) over top of <a class="primary normal" href="http://expressjs.com/" target="_blank" title="Express">Express</a> and <a class="primary normal" href="http://socket.io/" target="_blank" title="Socket.io">Socket.io</a>, the defacto technologies for building real-time web applications using NodeJS.
        </p>
        <p>
          At its core Feathers is a real-time, micro-service framework that gives you control over your data via RESTful resources, sockets and flexible plug-ins.
        </p>
      </div>
      <div class="col col-6">
        <img src="/images/ship-it.png" alt="Ship It" class="ship-it block">
      </div>
    </div>
  </div>
</section>

<section id="plugins">
  <div class="container">
    <div class="row center-text">
      <h2 class="strong center-text">Feathers Plays Nicely With Your Favorite Stack</h2>
      <h4 class="thin">We have plug-ins or guides for the most popular clients.</h4>
      <p>
        Not seeing yours? <a class="primary normal" href="#">We <i class="fa fa-heart"></i> pull requests</a>
      </p>
    </div>
    <div class="row clear">
      <div class="col col-2">
        <a href="#" title="React">
          <img src="/images/react.svg" alt="React">
        </a>
      </div>
      <div class="col col-2">
        <a href="#" title="Angular">
          <img src="/images/angular.svg" alt="Angular">
        </a>
      </div>
      <div class="col col-2">
        <a href="#" title="jQuery">
          <img src="/images/jquery.svg" alt="jQuery">
        </a>
      </div>
      <div class="col col-2">
        <a href="#" title="CanJS">
          <img src="/images/canjs.svg" alt="CanJS">
        </a>
      </div>
      <div class="col col-2">
        <a href="#" title="iOS">
          <img src="/images/apple.svg" alt="iOS">
        </a>
      </div>
      <div class="col col-2">
        <a href="#" title="Android">
          <img src="/images/android.svg" alt="Android">
        </a>
      </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="container">
    <div class="row">
      <h3 class="thin center-text">Here are just a few reasons why Feathers is quickly becoming the toolbox of choice for modern web applications.</h3>
    </div>
    <div class="row clear">
      <div class="col col-3">
        <h4 class="normal">Battle Tested Core</h4>
        <p>Feathers is an extremely <a href="https://github.com/feathersjs/feathers" class="primary" target="_blank">thin wrapper</a> over top of the very mature Express and Socket.io.</p>
      </div>
      <div class="col col-3">
        <h4 class="normal">Uber Flexible</h4>
        <p>Our <a href="https://www.npmjs.com/search?q=feathers-plugin" class="primary" target="_blank">plug-ins</a> are extremely flexible. Giving you only what you need and then getting out of your way.</p>
      </div>
      <div class="col col-3">
        <h4 class="normal">Scaffold Real-time API's</h4>
        <p>Instantly scaffold services from the command line, getting you full CRUD through REST and websockets in just a few key strokes.</p>
      </div>
      <div class="col col-3">
        <h4 class="normal">Zero Lock In</h4>
        <p>Feathers is totally open source, works with any Express middleware and node module out of the box.</p>
      </div>
    </div>
    <div class="row clear">
      <div class="col col-3">
        <h4 class="normal">Minimal Configuration</h4>
        <p>Tired of massive JSON or YAML files? No need for that here! We value convention over configuration so you can spend more time writing code.</p>
      </div>
      <div class="col col-3">
        <h4 class="normal">Multi-Database</h4>
        <p>We support MongoDB, Postgres, and MySQL out of the box. If that's not for you, you can easily <a href="#" class="primary" target="_blank">write your own service adapters</a>.</p>
      </div>
      <div class="col col-3">
        <h4 class="normal">Front End Agnostic</h4>
        <p>Use whatever client you want; Angular, React, Swift/ObjC, Android, it doesn't matter. We only provide some <a href="#" class="primary" target="_blank">helpful guides</a> and <a href="https://www.npmjs.com/search?q=feathers-plugin" class="primary" target="_blank">plug-ins</a> to make things easier.</p>
      </div>
      <div class="col col-3">
        <h4 class="normal">Pure JavaScript</h4>
        <p>Because Feathers is 100% vanilla JavaScript on the backend, you get to use the same language all the way through your web stack.</p>
      </div>
    </div>
    <div class="row clear">
      <div class="col col-4 push-4 mobile-full">
        <a class="button transparent-button block normal" href="#" title="Features Explained">Tell Me More</a>
      </div>
    </div>
  </div>
</section>

<section id="comparison">
  <div class="container">
    <div class="row">
      <h1 class="strong center-text">See How Feathers Is Different</h1>
    </div>
    <div class="row clear">
      <div class="col col-6">
        <h3>Feathers vs Meteor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates id dolor repellat omnis dignissimos ut, aliquam sunt. Tempore consequuntur dolores nulla sunt sed molestias, nesciunt eligendi officia, aliquid, saepe corrupti!</p>
        <a class="button primary-button normal" href="#" title="Feathers vs. Meteor" target="_blank">Read More</a>
      </div>
      <div class="col col-6">
        <img src="" alt="" class="ship-it block">
      </div>
    </div>
    <div class="row clear">
      <div class="col col-6">
        <h3>Feathers vs Sails</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates id dolor repellat omnis dignissimos ut, aliquam sunt. Tempore consequuntur dolores nulla sunt sed molestias, nesciunt eligendi officia, aliquid, saepe corrupti!</p>
        <a class="button primary-button normal" href="#" title="Feathers vs. Sails" target="_blank">Read More</a>
      </div>
      <div class="col col-6">
        <img src="" alt="" class="ship-it block">
      </div>
    </div>
    <div class="row clear">
      <div class="col col-6">
        <h3>Feathers vs Express</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates id dolor repellat omnis dignissimos ut, aliquam sunt. Tempore consequuntur dolores nulla sunt sed molestias, nesciunt eligendi officia, aliquid, saepe corrupti!</p>
        <a class="button primary-button normal" href="#" title="Feathers vs. Express" target="_blank">Read More</a>
      </div>
      <div class="col col-6">
        <img src="" alt="" class="ship-it block">
      </div>
    </div>
  </div>
</section>
<hr>
<section id="cta">
  <div class="container">
    <div class="row center-text">
      <h1 class="strong">Alright, Take My Money</h1>
      <h3>No need! Feathers is MIT licensed and totally FREE.</h3>
    </div>
    <div class="row clear">
      <div class="col col-4 push-4 mobile-full">
        <a class="button primary-button block normal" href="#" title="Get Started">Get Started</a>
      </div>
    </div>
  </div>
</section>


<!-- <section id="example" class="example">
  <div class="container">
    <h2 class="page-header">Real-time Todos</h2>

    <p>
      In the tradition of <a href="http://todomvc.com/" title="TODO MVC" target="_blank">TodoMVC</a> the below example shows a real-time Todo application with Feathers and an in-memory Todo service on the server and a jQuery HTML page for the browser. To get up and running with this example <a href="https://gist.github.com/daffl/6665992/download">download the Gist</a>, unpack and in the new folder run
      <blockquote><pre>npm install feathers feathers-memory body-parser<br>node app.js</pre></blockquote>
      Then go to <a href="http://localhost:8080" target="_blank">http://localhost:8080</a>. The REST API will be available at <a href="localhost:8080/todos" target="_blank">localhost:8080/todos</a> (check out the example application endpoint <a href="http://todos.feathersjs.com/todos" target="_blank">here</a>). <br>Next, read up on the <a href="#guide">Feathers guide</a>.
    </p>
    <hr>

    <div class="row clear">
      <div class="col col-md-6">
        <div id="todo-example">
          <ul class="todos list-unstyled"></ul>
          <form role="form" class="create-todo">
            <div class="form-group">
              <input type="text" class="form-control" name="description" placeholder="Add a new Todo">
            </div>
            <button type="submit" class="btn btn-primary col col-xs-12">Add Todo</button>
          </form>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="row">
          <ul class="nav nav-pills options example" id="realtime-todos">
            <li><a href="#" title="Todo Feathers Server">Server</a></li>
            <li><a href="#" title="Real-time Todo web page">Client</a></li>
          </ul>
          <script src="https://gist.github.com/daffl/6665992.js"></script>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page" id="guide">
  <div class="container">
    <div class="row">
      <div class="col col-3">
        <div id="toc"></div>
      </div>
      <div class="col col-9 page-content">
        {{ content }}
      </div>
    </div>
  </div>
</section> -->
