---
layout: default
---

<section id="hero">
  <div class="container center-text">
    <div class="row clear">
      <div class="col col-10 push-1 mobile-full">
        <h1 class="logo heavy">Feathers</h1>
        <h2 class="thin">Build Better APIs, Faster Than Ever</h2>
      </div>
    </div>
    <div class="row badges">
      <p>
        <a href="https://npmjs.org/package/feathers" title="Package status" target="_blank"><img src="https://badge.fury.io/js/feathers.png"/></a>
        <a href="https://david-dm.org/feathersjs/feathers" target="_blank" title="Dependency status"><img src="https://david-dm.org/feathersjs/feathers.png"/></a>
        <a href="https://travis-ci.org/feathersjs/feathers" target="_blank"><img src="https://travis-ci.org/feathersjs/feathers.png?branch=master" alt="Build status" /></a>
      </p>
    </div>
    <div class="row github-links">
      <p>
        <iframe src="http://ghbtns.com/github-btn.html?user=feathersjs&repo=feathers&type=watch&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=feathersjs&repo=feathers&type=fork&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      </p>
    </div>
    <div class="row clear">
      <div class="col col-4 push-4 mobile-full">
        <a class="button primary-button block normal" href="/quick-start" title="Get Started">Get Started</a>
      </div>
    </div>
  </div>
</section>

<hr>

<section id="ship">
  <div class="container">
    <div class="row clear">
      <div class="col col-6 mobile-full">
        <h3>Feathers is built for developers that need to ship maintainable code, <span class="normal">fast</span>.</h3>

        <ul>
          <li>
            <p>
              Get prototypes out in a matter of minutes and production ready in days. Seriously.
            </p>
          </li>

          <li>
            <p>
              Only worry about your data and application logic. We take out the boilerplate with lightweight services and flexible plug-ins.
            </p>
          </li>
          <li>
            <p>
              Less is more! Feathers is a razor thin wrapper <a class="primary normal" href="http://expressjs.com/" target="_blank" title="Express">Express</a> and <a class="primary normal" href="http://socket.io/" target="_blank" title="Socket.io">Socket.io</a>, the defacto technologies for building real-time web applications using NodeJS.
            </p>
          </li>
        </ul>
      </div>
      <div class="col col-6 mobile-full">
        <img src="/images/ship-it.png" alt="Ship It" class="ship-it block">
      </div>
    </div>
    <div class="row clear">
      <div class="col col-12 mobile-full">
        <h5 class="center-text">
          At its core Feathers is a real-time, micro-service web framework that gives you control over your data via RESTful resources, sockets and flexible plug-ins.
        </h5>
      </div>
    </div>
  </div>
</section>

<section id="plugins">
  <div class="container">
    <div class="row center-text">
      <h2 class="strong center-text">Feathers Plays Nicely With Your Favorite Stack</h2>
      <h4 class="thin">We have plug-ins or guides for the most popular clients.</h4>
      <p>
        Not seeing yours? <a class="primary normal" href="#">We <i class="fa fa-heart"></i> pull requests</a>
      </p>
    </div>
    <div class="row clear">
      <ul class="inline-list center-text">
        <li>
          <a href="#" title="React">
            <img src="/images/react.svg" alt="React">
          </a>
        </li>
        <li>
          <a href="#" title="Angular">
            <img src="/images/angular.svg" alt="Angular">
          </a>
        </li>
        <li>
          <a href="#" title="jQuery">
            <img src="/images/jquery.svg" alt="jQuery">
          </a>
        </li>
        <li>
          <a href="#" title="CanJS">
            <img src="/images/canjs.svg" alt="CanJS">
          </a>
        </li>
        <li>
          <a href="#" title="iOS">
            <img src="/images/apple.svg" alt="iOS">
          </a>
        </li>
        <li>
          <a href="#" title="Android">
            <img src="/images/android.svg" alt="Android">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="features">
  <div class="container">
    <div class="row clear">
      <div class="col col-4 mobile-full">
        <h4 class="normal">Battle Tested Core</h4>
        <p>Feathers is a <a href="https://github.com/feathersjs/feathers" class="primary" target="_blank">very thin wrapper</a> over top of Express and Socket.io, both of which have been used in production by thousands of companies.</p>
      </div>
      <div class="col col-4 mobile-full">
        <h4 class="normal">Uber Flexible</h4>
        <p>Our <a href="https://www.npmjs.com/search?q=feathers-plugin" class="primary" target="_blank">plug-ins</a> are small, easy to learn and extremely flexible. Giving you only what you need and then getting out of your way.</p>
      </div>
      <div class="col col-4 mobile-full">
        <h4 class="normal">Minimal Configuration</h4>
        <p>Tired of massive JSON or YAML files? Feathers reduces complexity while staying explicit, not by hiding it behind generators and configuration files.</p>
      </div>
    </div>
    <div class="row clear">
      <div class="col col-4 mobile-full">
        <h4 class="normal">Multi-Database</h4>
        <p>We support MongoDB, Postgres, MySQL and NeDB out of the box. If that's not for you, you can easily <a href="/docs/#toc10" class="primary" target="_blank">write your own service adapters</a>.</p>
      </div>
      <div class="col col-4 mobile-full">
        <h4 class="normal">Front End Agnostic</h4>
        <p>Use whatever client you want; Angular, React, Swift/ObjC, Android, it doesn't matter. We provide some <a href="/learn/#toc1" class="primary" target="_blank">helpful guides</a> and <a href="https://www.npmjs.com/search?q=feathers-plugin" class="primary" target="_blank">plug-ins</a> to make things easier.</p>
      </div>
      <div class="col col-4 mobile-full">
        <h4 class="normal">Pure JavaScript</h4>
        <p>Because Feathers is 100% vanilla JavaScript on the backend, you get to use the same language all the way through your web stack. More productivity FTW!</p>
      </div>
    </div>
    <div class="row clear">
      <div class="col col-4 push-4 mobile-full">
        <a class="button transparent-button block normal" href="/learn" title="Features Explained">Tell Me More</a>
      </div>
    </div>
  </div>
</section>

<section id="comparison">
  <div class="container">
    <div class="row">
      <h1 class="strong center-text">See How Feathers Is Different</h1>
    </div>
    <div class="row clear">
      <div class="col col-6 mobile-full">
        <h3>Feathers vs Meteor</h3>
        <h5 class="italic">"Once you go Meteor, you don't go back. And not in a good way."</h5>
        <p>
          Meteor has amassed a large community and a lot of venture backed funding. Our biggest complaint is that because of this funding, there is some <span class="bold">serious lock in</span>. Meteor has it's own package system, how you use npm modules can be inconsistent and it is a large codebase. There is also the risk that when investors start pushing for a return on their investment, it could negatively impact the community.
        </p>
        <p>
          From a feature standpoint Feathers is pretty similar to Meteor. You get real-time API's from both. However, we let you use the defacto npm for managing dependencies, we let you choose whether you want to use Webpack, Gulp, Grunt, or any other tool for managing assets, and Feathers is completely client agnostic without any additional overhead. Everything is open, flexible and pluggable. You use only what you need.
        </p>
        <!-- <a class="button primary-button normal" href="#" title="Feathers vs. Meteor" target="_blank">Read More</a> -->
      </div>
      <div class="col col-6 no-mobile">
        <img src="/images/feathers-vs-meteor.png" alt="Feathers vs Meteor" class="comparison block">
      </div>
    </div>
    <div class="row clear">
      <div class="col col-6 mobile-full">
        <h3>Feathers vs Sails</h3>
        <h5 class="italic">"If you love JSON config files, Sails is for you."</h5>
        <p>
          From a feature standpoint Feathers and Sails are probably the closest. Both provide real-time REST API's, multiple db support, and are client agnostic. Both frameworks also use Express, but Feathers supports Express 4, while Sails only supports Express 3.
        </p>
        <p>
          Even though the features are very similar, Feathers achieves this with MUCH less code, which means less stuff to break and maintain making it easy to continuously upgrade to the latest version of Express. We also don't assume how you want to manage your assets by letting you use your build tool of choice. Feathers provides lightweight services and hooks instead of a full-blown ORM, and we let you write code instead of long config files to define relationships and security policies.
        </p>
        <!-- <a class="button primary-button normal" href="#" title="Feathers vs. Sails" target="_blank">Read More</a> -->
      </div>
      <div class="col col-6 no-mobile">
        <img src="/images/feathers-vs-sails.png" alt="Feathers vs Sails" class="comparison block">
      </div>
    </div>
    <div class="row clear">
      <div class="col col-6 mobile-full">
        <h3>Feathers vs Express</h3>
        <h5 class="italic">"I like Express because I love flexibility and boilerplate!"</h5>
        <p>
          Express is awesome! It does much of the heavy lifting behind Feathers; routing, content-negotiation, middleware support, etc. In fact, you can simply replace Express with Feathers in any existing application and start adding new microservices.
        </p>
        <p>
          Feathers eliminates a lot of the common boilerplate and gives you helpful plug-ins to make implementing common features easier, while also providing some convention. This includes stuff like managing permissions, CRUD for multiple databases, and real-time APIs using web sockets. Just like Express, Feathers gives you just enough to build your web app quickly but gets out of your way when you need to customize something.
        </p>
        <!-- <a class="button primary-button normal" href="#" title="Feathers vs. Express" target="_blank">Read More</a> -->
      </div>
      <div class="col col-6 no-mobile">
        <img src="/images/feathers-vs-express.png" alt="Feathers vs Express" class="comparison block">
      </div>
    </div>
  </div>
</section>
<hr>
<section id="cta">
  <div class="container">
    <div class="row center-text">
      <h1 class="strong">Alright, Take My Money</h1>
      <h3>No need! Feathers is MIT licensed and totally FREE.</h3>
    </div>
    <div class="row clear">
      <div class="col col-4 push-4 mobile-full">
        <a class="button primary-button block normal" href="/quick-start" title="Get Started">Get Started</a>
      </div>
    </div>
  </div>
</section>
