---
layout: default
---

<section id="example" class="example">
  <div class="container">
    <div class="row clear">
      <div class="col col-9 push-3 page-content">
        <h2 class="page-header">Example</h2>

        <p>
          In the tradition of <a href="http://todomvc.com/" title="TODO MVC" target="_blank">TodoMVC</a> the below example shows a real-time Todo application with Feathers and an in-memory Todo service on the server and a jQuery HTML page for the browser. To get up and running with this example <a href="https://gist.github.com/daffl/6665992/download">download the Gist</a>, unpack and in the new folder run
          <blockquote><pre>npm install feathers feathers-memory body-parser<br>node app.js</pre></blockquote>
          Then go to <a href="http://localhost:8080" target="_blank">http://localhost:8080</a>. The REST API will be available at <a href="localhost:8080/todos" target="_blank">localhost:8080/todos</a> (check out the example application endpoint <a href="http://todos.feathersjs.com/todos" target="_blank">here</a>). <br>Next, read up on the <a href="#guide">Feathers guide</a>.
        </p>

        <hr>

        <div id="todo-example" class="row clear">
          <ul class="todos unstyled-list"></ul>
          <form role="form" class="create-todo">
            <div class="form-group">
              <input type="text" class="form-control" name="description" placeholder="Add a new Todo">
            </div>
            <button type="submit" class="button primary-button block">Add Todo</button>
          </form>
        </div>
      </div>
      <script class="row clear" src="https://gist.github.com/daffl/6665992.js"></script>
    </div>
  </div>
</section>

<section class="page">
  <div class="container">
    <div class="row clear">
      <div class="col col-3">
        <div id="toc"></div>
      </div>
      <div class="col col-9 push-3 page-content">
        {{ content }}
      </div>
    </div>
  </div>
</section>
