---
layout: default
---

<section id="example" class="example">
  <div class="container">
    <div class="row clear">
      <div class="col col-9 push-3 page-content">
        <h1>{{page.title}}</h1>

        <p>In this guide we will go over the basic concepts of Feathers by building the following real-time Todo application (inspired by the great <a href="http://todomvc.com" target="_blank">TodoMVC</a>) using jQuery as the frontend:</p>

        <hr>

        <div id="todo-example" class="row clear">
          <ul class="todos unstyled-list">
            <li>Loading...</li>
          </ul>
          <form role="form" class="create-todo">
            <div class="form-group">
              <input type="text" class="form-control" name="description" placeholder="Add a new Todo">
            </div>
            <button type="submit" class="button primary-button block">Add Todo</button>
          </form>
        </div>

        <p>
          Eager to try it out yourself? <a href="https://gist.github.com/daffl/6665992/download">Download this Gist</a> (view the code <a href="https://gist.github.com/daffl/6665992" target="_blank">here</a>), unpack and in the new folder run
          <blockquote><pre>npm install feathers feathers-memory body-parser<br>node app.js</pre></blockquote>
          Then go to <a href="http://localhost:8080" target="_blank">http://localhost:8080</a>. The REST API will be available at <a href="localhost:8080/todos" target="_blank">localhost:8080/todos</a>.
          <br> In this guide we will learn how it all works...
        </p>
      </div>
    </div>
  </div>
</section>

<section class="page">
  <div class="container">
    <div class="row clear">
      <div class="col col-3">
        <div id="toc"></div>
      </div>
      <div class="col col-9 push-3 page-content">
        {{ content }}
      </div>
    </div>
  </div>
</section>
