nav {
  .font-size(18);
  
  .navbar {
    margin: 0 auto;
    display: table;
    padding: 10px 0;
  }

  li {
    margin: 0 10px;
  }

  a {
    display: inline-block;
    line-height: @logo-height;
    vertical-align: middle;
    
    &.logo {
      height: @logo-height;
      width: @logo-height;
    }
  }

  @media (max-width: @mobile-breakpoint) {
    .font-size(14);

    a {
      line-height: @mobile-logo-height;

      &.logo {
        height: @mobile-logo-height;
        width: @mobile-logo-height;
      }
    }
  }
}