package-manager-strict-version=false
public-hoist-pattern[]=*
onlyBuiltDependencies[]=better-sqlite3
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@parcel/watcher
